<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/style.css') }}"
    />
  </head>
  <body class="font-sans flex flex-col min-h-screen">
    <div class="flex-grow">
      <nav
        class="relative px-4 py-4 flex justify-between items-center bg-[#EAEAEA]"
      >
        <svg
          height="35px"
          width="45px"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 491.779 491.779"
          xml:space="preserve"
          fill="#000000"
          stroke="#000000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke="#004b8f"
            stroke-width="30.490298000000003"
          >
            <g>
              <g>
                <path
                  style="fill: #eaad1e"
                  d="M84.716,298.847c0-24.817,10.876-47.04,28.044-62.354V106.549L0,62.696v306.967l31.669,12.323 c1.788-3.349,3.894-6.568,6.69-9.413l49.682-50.576C85.919,314.641,84.716,306.886,84.716,298.847z"
                ></path>
                <polygon
                  style="fill: #eaad1e"
                  points="112.768,413.525 112.768,412.826 112.272,413.33 "
                ></polygon>
                <path
                  style="fill: #eaad1e"
                  d="M238.062,252.734V62.696l-112.768,43.854v120.709c12.583-7.584,27.279-12.03,43.041-12.03 C197.467,215.228,223.089,230.144,238.062,252.734z"
                ></path>
                <path
                  style="fill: #eaad1e"
                  d="M168.335,382.466c-7.852,0-15.412-1.162-22.622-3.178l-20.427,20.793v13.445l112.768-43.854V344.96 C223.089,367.55,197.467,382.466,168.335,382.466z"
                ></path>
                <polygon
                  style="fill: #eaad1e"
                  points="253.717,369.671 366.485,413.525 366.485,106.549 253.717,62.696 "
                ></polygon>
                <polygon
                  style="fill: #eaad1e"
                  points="379.011,106.549 379.011,413.525 491.779,369.671 491.779,62.696 "
                ></polygon>
                <path
                  style="fill: #eaad1e"
                  d="M169.562,227.356c-16.769,0-32.173,5.918-44.268,15.753c-4.739,3.853-8.925,8.332-12.526,13.274 c-8.47,11.616-13.534,25.865-13.534,41.301c0,4.276,0.447,8.446,1.179,12.518c0.862,4.771,2.187,9.372,3.959,13.754 c-1.878,1.171-3.682,2.504-5.308,4.154l-6.275,6.389l-45.382,46.203c-1.723,1.756-3.073,3.707-4.251,5.739 c-6.34,10.965-4.853,25.199,4.617,34.49c5.536,5.438,12.729,8.153,19.931,8.153c7.364,0,14.729-2.845,20.297-8.519l11.86-12.071 l12.908-13.144l12.526-12.754l7.844-7.99l6.519-6.641c1.52-1.544,2.78-3.243,3.869-5.015c4.365,1.748,8.941,3.056,13.68,3.902 c4.016,0.715,8.129,1.154,12.347,1.154c33.376,0,61.33-23.394,68.491-54.632c1.162-5.056,1.829-10.299,1.829-15.704 c0-5.406-0.667-10.648-1.829-15.704C230.9,250.75,202.938,227.356,169.562,227.356z M169.562,327.37 c-2.43,0-4.763-0.374-7.023-0.927c-10.657-2.609-19.021-10.949-21.687-21.589c-0.577-2.309-0.975-4.69-0.975-7.169 c0-16.371,13.323-29.686,29.686-29.686s29.677,13.323,29.677,29.686S185.933,327.37,169.562,327.37z"
                ></path>
              </g>
            </g>
          </g>
          <g id="SVGRepo_iconCarrier">
            <g>
              <g>
                <path
                  style="fill: #eaad1e"
                  d="M84.716,298.847c0-24.817,10.876-47.04,28.044-62.354V106.549L0,62.696v306.967l31.669,12.323 c1.788-3.349,3.894-6.568,6.69-9.413l49.682-50.576C85.919,314.641,84.716,306.886,84.716,298.847z"
                ></path>
                <polygon
                  style="fill: #eaad1e"
                  points="112.768,413.525 112.768,412.826 112.272,413.33 "
                ></polygon>
                <path
                  style="fill: #eaad1e"
                  d="M238.062,252.734V62.696l-112.768,43.854v120.709c12.583-7.584,27.279-12.03,43.041-12.03 C197.467,215.228,223.089,230.144,238.062,252.734z"
                ></path>
                <path
                  style="fill: #eaad1e"
                  d="M168.335,382.466c-7.852,0-15.412-1.162-22.622-3.178l-20.427,20.793v13.445l112.768-43.854V344.96 C223.089,367.55,197.467,382.466,168.335,382.466z"
                ></path>
                <polygon
                  style="fill: #eaad1e"
                  points="253.717,369.671 366.485,413.525 366.485,106.549 253.717,62.696 "
                ></polygon>
                <polygon
                  style="fill: #eaad1e"
                  points="379.011,106.549 379.011,413.525 491.779,369.671 491.779,62.696 "
                ></polygon>
                <path
                  style="fill: #eaad1e"
                  d="M169.562,227.356c-16.769,0-32.173,5.918-44.268,15.753c-4.739,3.853-8.925,8.332-12.526,13.274 c-8.47,11.616-13.534,25.865-13.534,41.301c0,4.276,0.447,8.446,1.179,12.518c0.862,4.771,2.187,9.372,3.959,13.754 c-1.878,1.171-3.682,2.504-5.308,4.154l-6.275,6.389l-45.382,46.203c-1.723,1.756-3.073,3.707-4.251,5.739 c-6.34,10.965-4.853,25.199,4.617,34.49c5.536,5.438,12.729,8.153,19.931,8.153c7.364,0,14.729-2.845,20.297-8.519l11.86-12.071 l12.908-13.144l12.526-12.754l7.844-7.99l6.519-6.641c1.52-1.544,2.78-3.243,3.869-5.015c4.365,1.748,8.941,3.056,13.68,3.902 c4.016,0.715,8.129,1.154,12.347,1.154c33.376,0,61.33-23.394,68.491-54.632c1.162-5.056,1.829-10.299,1.829-15.704 c0-5.406-0.667-10.648-1.829-15.704C230.9,250.75,202.938,227.356,169.562,227.356z M169.562,327.37 c-2.43,0-4.763-0.374-7.023-0.927c-10.657-2.609-19.021-10.949-21.687-21.589c-0.577-2.309-0.975-4.69-0.975-7.169 c0-16.371,13.323-29.686,29.686-29.686s29.677,13.323,29.677,29.686S185.933,327.37,169.562,327.37z"
                ></path>
              </g>
            </g>
          </g>
        </svg>
        <ul
          class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6"
        >
          <li>
            <a
              class="text-base font-bold text-[#eaad1e] border-b-4 rounded-sm border-transparent hover:border-[#004b8f] transition pb-1"
              href="{{ url_for('index') }}"
              >Home</a
            >
          </li>
          <li class="text-gray-500">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="currentColor"
              class="w-4 h-4 current-fill"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
              ></path>
            </svg>
          </li>
          <li>
            <a
              class="text-base font-bold text-[#eaad1e] border-b-4 rounded-sm border-transparent hover:border-[#004b8f] transition pb-1"
              href="{{ url_for('search_ta') }}"
              >Pencarian Penelitian</a
            >
          </li>
        </ul>
        <button
          data-collapse-toggle="navbar-hamburger"
          type="button"
          class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg"
          aria-controls="navbar-hamburger"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#eaad1e"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </button>
      </nav>
      <div class="px-3 py-3">
        <div class="w-full h-20 flex justify-between items-center">
          <div>
            <img
              src="{{ url_for('static', filename='assets/images/logo.png') }}"
              alt=""
              class="h-14 w-14 object-contain"
            />
          </div>
          <div class="flex-grow ml-2">
            <form
              class="flex items-center mx-auto"
              action="{{ url_for('hasil_search_ta') }}"
              method="post"
            >
              <label for="simple-search" class="sr-only">Search</label>
              <div class="relative w-full">
                <input
                  type="text"
                  id="simple-search"
                  name="judul"
                  class="w-full h-12 bg-[#D9D9D9] border font-semibold text-sm rounded-full focus:outline-none block p-2.5"
                  placeholder="Pencarian Judul Penelitian"
                  required
                />
              </div>
              <button
                type="submit"
                class="p-2.5 w-28 h-12 ms-2 text-sm font-medium text-[#004B8F] bg-[#EAAD1E] rounded-full"
              >
                <span>Cari Judul</span>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="px-36 py-2">
        <h2 class="font-semibold text-lg text-[#EAAD1E] tracking-wide">
          Hasil Pencarian :
          <span class="text-black">
            Ditemukan
            <strong class="text-[#EAAD1E]">{{ jumlah_baris }}</strong> dokumen
            yang sesuai dengan query
          </span>
        </h2>
        <div class="mt-2 flex flex-col">
          {% for row in result_searching %}
          <div
            class="border-b-2 border-[#EAAD1E] rounded-sm py-8 flex gap-8 flex-col max-w-full"
          >
            <div class="flex gap-4">
              <img
                src="{{ url_for('static', filename='assets/images/image.png') }}"
                alt="Gambar"
                class="w-28"
              />
              <div>
                <a href="{{ url_for('detail_ta', index=row.index) }}">
                  <h1
                    class="hover:cursor-pointer underline hover:text-black hover:no-underline text-lg font-extrabold text-[#004B8F]"
                  >
                    {{ row.judul }}
                  </h1>
                </a>
                <p class="line-clamp-4">{{ row.deskripsi }}</p>
              </div>
            </div>
            <div class="flex justify-between">
              <p class="text-[#EAAD1E] font-semibold">
                Kata Kunci: <span class="text-black">{{ row.kata_kunci }}</span>
              </p>
              <p class="text-[#EAAD1E] font-semibold">
                Tahun: <span class="text-black">{{ row.tahun }}</span>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="flex justify-center mt-4 mb-5">
        <nav>
          <ul class="inline-flex -space-x-px text-base h-10">
            {% if page > 1 %}
            <li>
              <a
                href="{{ url_for('hasil_search_ta', judul=title, page=page-1) }}"
                class="flex font-semibold items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-800 bg-white border border-e-0 border-[#EAAD1E] rounded-s-lg transition-all duration-500 hover:bg-[#EAAD1E] hover:text-gray-700"
                >Previous</a
              >
            </li>
            {% endif %} {% for i in range(1, total_pages + 1) %}
            <li>
              <a
                href="{{ url_for('hasil_search_ta', judul=title, page=i) }}"
                class="flex font-semibold items-center justify-center px-4 h-10 leading-tight {% if i == page %} text-[#004B8F] border border-[#EAAD1E] bg-blue-50 hover:bg-[#EAAD1E] hover:text-[#004B8F] {% else %}text-gray-800 bg-white border border-[#EAAD1E] transition-all duration-500 hover:bg-[#EAAD1E] hover:text-gray-700{% endif %}"
              >
                {{ i }}
              </a>
            </li>
            {% endfor %} {% if page < total_pages %}
            <li>
              <a
                href="{{ url_for('hasil_search_ta', judul=title, page=page+1) }}"
                class="flex font-semibold items-center justify-center px-4 h-10 leading-tight text-gray-800 bg-white border border-[#EAAD1E] rounded-e-lg transition-all duration-500 hover:bg-[#EAAD1E] hover:text-gray-700"
                >Next</a
              >
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    <footer class="flex items-center bg-gray-600 h-14 px-4 mt-auto w-full">
      <p class="text-left ml-12 text-white">
        &copy; 2024, Universitas Muhammadiyah Jember Teknik Informatika Library
      </p>
    </footer>
  </body>
</html>
